.venv/
__pycache__/
*.pyc
mlflow.db
mlflow_smoketest.db
mlruns/
data/raw/*
!data/raw/.gitkeep
!data/raw/*.dvc
data/raw_production/*
!data/raw_production/.gitkeep
!data/raw_production/*.dvc
data/processed/*
!data/processed/.gitkeep
!data/processed/*.dvc
data/reference/*.json
!data/reference/.gitkeep
.pytest_cache/
.dvc/cache
.dvc/tmp
mlflow-artifacts/
data/serving/
data/predictions/